﻿<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="template.css">
</head>
<body>

<div id="cspro_report"></div>

<script type="application/vnd.cspro.report-template" id="cspro_report_template">
    <h2>Progress Report</h2>
    <table>
        <tr><th>Interviewer Name</th><th>Complete Households</th><th>Partial Households</th><th>Not Started Households</th></tr>
        {{#PROGRESS_REPORT}}
            <tr><td>{{PR_INTERVIEWER_NAME}}</td><td>{{PR_COMPLETED_HOUSEHOLDS}}</td><td>{{PR_PARTIAL_HOUSEHOLDS}}</td><td>{{PR_NOT_STARTED_HOUSEHOLDS}}</td></tr>
        {{/PROGRESS_REPORT}}
    </table>
</script>

</body>
</html>
