body {
    margin: 5px;
    padding: 0px;
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

/*--- TABLE -----------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: linear-gradient(#328c5e, #168a4e);
    color: #fff;
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

th, td {
    padding: 5px 10px;
    text-align: left;
}

td:first-child {
    border-left: 1px solid #cecfd5;
}

td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}

/*--- HEADERS ---------------------------------------------------------------*/

h2 {
    text-align: center;
}

/*--- CLASSES ---------------------------------------------------------------*/

.header {
    background: linear-gradient(#328c5e, #168a4e);
    color: #fff;
}

.subheader {
    background: linear-gradient(#9ea19f, #888b88);
    color: #fff;
}
